include choice

mixin player(gameId, playerWinnerId, playerId, playerName, playerChoice, viewerPlayerId)
  tr(class=playerWinnerId && playerWinnerId === playerid ? 'table-success' : '')
    th(scope='col') #{playerId}
    td #{playerName}
    td
      +choice(playerId, playerChoice, gameId, viewerPlayerId)
