extends layout.pug
include game/player

block content
  p(class='lead') Rules: #{rules.join(', ')}.

  h2 Game ##{game.id}

  table(class='table')
    thead
      tr
        th(scope='col') Player
        th(scope='col') Choice
    tbody
      if game.player1id
        +player(game.id, game.state, game.playerWinnerId, game.player1id, game.players[game.player1id].name, game.player1choice, viewerPlayerId)
      if game.player2id
        +player(game.id, game.state, game.playerWinnerId, game.player2id, game.players[game.player2id].name, game.player2choice, viewerPlayerId)

  if !game.player2id && viewerPlayerId !== game.player1id
    form(method='POST' action='/games/' + game.id + '/join')
      button.btn.btn-lg.btn-secondary.float-right(type='submit') Join

  dl(class='row')
    dt(class='col-sm-3') Outcome
    dd(class='col-sm-9') #{game.state}
    if game.playerWinnerId
      dt(class='col-sm-3') Winner
      dd(class='col-sm-9') #{game.players[game.playerWinnerId].name}
