extends layout.pug
include list

block content
  div.final
    h2 Finished Games
    if final.length > 0
      +list(final)
    else
      p None... yet!

  div.pending
    h2 Available Games
    if pending.length > 0
      +list(pending)
    else
      p None... yet!

  form(method='POST' action='/games')
    button.btn.btn-lg.btn-secondary.float-right(type='submit') Start new
